# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.cpp text
*.c text
*.h text
*.gd text
*.cs text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary

# GAP to GDScript + git-plugin ignore
*.gd linguist-language=GDScript
main/** linguist-vendored=false
*.sample linguist-detectable=false
*.sample linguist-vendored=false
*.sample linguist-documentation=false
*.sample linguist-generated=false
